cat <<-END

WebMgt Project
-------------------------------------

    make             -               view build targets

    make example && ./bin/example
    make example-gin && ./bin/example-gin


    http http://localhost:1099/admin/version
    http http://localhost:1099/admin/ws
    http http://localhost:1099/admin/

END


